//- dropdown language
ul#dropdown1.dropdown-content.languages
  il
    a.languages(href="/?lang=nl" onclick="changeLang('nl')") nl
  il
    a.languages(href="/?lang=fr" onclick="changeLang('fr')") fr
  il
    a.languages(href="/?lang=en" onclick="changeLang('en')") en
    
header
  nav.header
    div.nav-wrapper
      a(href="/")
        img(src="/img/logo.png" height="80" width="200")
        //- img(src="/img/logo.png" height="80" width="200")
        ul.right.hide-on-med-and-down
          li 
            a(href='/') #{home}
          li 
            a(href='/about') #{about}
          li 
            a(href='/contact') #{contact}
          li
            a(href="#!" data-activates="dropdown1").dropdown-button
              i.material-icons.right.img-country language
              | #{lang}

         ul#slide-out.side-nav
         li 
            a(href='/') #{home}
          li 
            a(href='/about') #{about}
          li 
            a(href='/contact') #{contact}
        a.button-collapse(href='#' data-activates='slide-out')
          i.mdi-navigation-menu
